@font-face {
  font-family: 'Panton';
  font-weight: 400;
  font-style: normal;
  src: url('./Panton/Panton-Regular.woff2');
}

@font-face {
  font-family: 'Panton';
  font-weight: 500;
  font-style: normal;
  src: url('./Panton/Panton-Trial-SemiBold.ttf');
}

@font-face {
  font-family: 'Panton';
  font-weight: 700;
  font-style: normal;
  src: url('./Panton/Panton-Trial-Bold.ttf');
}
